<div>
  <div
    class="toast align-items-center text-white bg-danger border-0"
    id="errorToast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    style="position: fixed; top: 10px; right: 10px; z-index: 1055"
  >
    <div class="d-flex">
      <div class="toast-body" id="toastMessage"></div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>

  <div
    class="toast align-items-center text-white bg-danger border-0"
    id="errorToast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    style="position: fixed; top: 10px; right: 10px; z-index: 1055"
  >
    <div class="d-flex">
      <div class="toast-body" id="toastMessage"></div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>

  <div class="container p-4 min-vh-100 box">
    <div class="col-12">
      <nav
        style="--bs-breadcrumb-divider: &quot;>&quot;"
        aria-label="breadcrumb"
      >
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/dashboard">مدیریت</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            ایجاد کاربر
          </li>
        </ol>
      </nav>

      <h2 class="py-4">ایجاد کاربر</h2>

      <form ng-submit="updateUser()">
        <div class="row justify-content-start align-items-start">
          <!-- Name -->
          <div class="col-12 col-md-5">
            <div class="input-group row align-items-end">
              <label for="name" class="my-2"
                >نام و نام خانوادگی
                <span class="text-danger ms-1">*</span>
                <input
                  type="text"
                  class="form-control p-3"
                  id="name"
                  ng-model="newUser.name"
                  placeholder="مثل محمد محمدی"
                />
              </label>
            </div>
          </div>

          <!-- Mobile -->
          <div class="col-12 col-md-5">
            <div class="input-group row align-items-start">
              <label for="mobile" class="my-2"
                >شماره موبایل
                <span class="text-danger ms-1">*</span>
                <input
                  type="text"
                  class="form-control p-3"
                  id="mobile"
                  ng-model="newUser.mobile"
                  placeholder="مثل  1234 123 0912 "
                />
              </label>
            </div>
          </div>

          <!-- Email -->
          <div class="col-12 col-md-5">
            <div class="input-group row align-items-start">
              <label for="email" class="my-2"
                >ایمیل کاربری
                <input
                  type="text"
                  class="form-control p-3"
                  id="email"
                  ng-model="newUser.email"
                  placeholder="می تواند خالی باشد"
                />
              </label>
            </div>
          </div>

          <!-- Username -->
          <div class="col-12 col-md-5">
            <div class="input-group row align-items-start w-100">
              <label for="username" class="my-2"
                >نام کاربری
                <input
                  type="text"
                  class="form-control p-3"
                  id="username"
                  ng-model="newUser.username"
                  placeholder="ساخت تصادفی نام کاربری با خالی ماندن"
                />
              </label>
            </div>
          </div>
        </div>

        <hr class="my-4 cutomHr" />
        <div>
          <button ng-if="isLoading" class="btn btn-secondary">
            صبر کنید . . .
          </button>
          <button
            ng-if="!isLoading"
            type="submit"
            class="btn btn-success"
            ng-click="validateAndCreateUser()"
          >
            ذخیره
          </button>
          <button type="button" class="btn" ng-click="goBack()">انصراف</button>
        </div>
      </form>
    </div>
  </div>
</div>
